/* probonoProfile.css */

.probono-container {
   background-color: #0B1125;
   color: #ffffff;
   padding: 40px;
   max-width: 100%;
   margin: 0 auto;
   border-radius: 10px;
}

.probono-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.probono-details {
   flex: 1;
}

.probono-details h1 {
   margin: 0;
   width: 100%;
   font-size: 3.5em;
   font-weight: bold;
}

.probono-subheader {
   margin: 0;
   font-size: 3.5em;
   font-weight: normal;
}

.probono-divider {
   width: 1px;
   background-color: #F9F8FA;
   height: 200px;
   margin: 0 20px;
}

.probono-info {
   line-height: 30px;
   font-size: 18px;
   flex: 2;
}

.probono-info ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.probono-info ul li {
   margin-bottom: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
   .probono-container {
       padding: 20px;
   }
   
   .probono-header {
       flex-direction: column;
       align-items: flex-start;
   }
   
   .probono-details h1 {
       font-size: 2.5em;
   }
   
   .probono-subheader {
       font-size: 2.5em;
   }
   
   .probono-divider {
       display: none;
   }
   
   .probono-info {
       margin-top: 20px;
       flex: none;
   }
}

/* Tablet styles */
@media (max-width: 1024px) and (min-width: 769px) {
   .probono-details h1 {
       font-size: 3em;
   }
   
   .probono-subheader {
       font-size: 3em;
   }
   
   .probono-divider {
       height: 150px;
       margin: 0 15px;
   }
}

/* Small mobile styles */
@media (max-width: 480px) {
   .probono-container {
       padding: 15px;
   }
   
   .probono-details h1 {
       font-size: 2em;
   }
   
   .probono-subheader {
       font-size: 2em;
   }
   
   .probono-info {
       font-size: 16px;
       line-height: 24px;
   }
}